---
import { Image } from "astro:assets";

import disk from "@/assets/sprites/disk.svg";

interface Props {
  color: string;
  icon: ImageMetadata;
  width: number;
  height: number;
}

const { color, Icon, width, height } = Astro.props;
---

<div class="relative">
  <Image
    class="absolute inset-0"
    width={width}
    height={height}
    src={disk}
    alt="DISKU Disk"
  />
  <Icon />
  <Image
    class="absolute inset-0"
    width={width}
    height={height}
    src={Icon}
    alt="Icon"
  />
</div>
